a {
  text-decoration: none;
}



/* navbar */
.navbar {
  background: linear-gradient(to right, #2e0537, #1e4283, #0081c0, #00c1dd, #00ffda);
  padding: 0.5rem;
  height: 60px;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.logo {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo-img {
  width: 5rem;
  height: 5rem;
  border-radius: 40%;
  font-size: 4rem;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #00a8ff;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-left: auto;
  }

  .navLinks {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100px;
    background-color: #333;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .navLinks.open {
    display: flex;
    background: linear-gradient(to right, #2e0537, #1e4283, #0081c0, #00c1dd, #00ffda);
  }

  .navLink {
    padding: 0.8rem 1rem;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
  }

  .navLink:hover {
    background:linear-gradient(to right top, #24b9c7, #00afea, #009eff, #517fff, #c241ec);
    transform: scale(1.2);
  }


}




/* TextCard */

.main-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}


.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
  font-family: 'Gill Sans';
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
  color: rgba(255, 255, 255, 0.9)
}



@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .card__title {
    font-size: 1em;
  }

  .card__apply {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .card__title {
    font-size: 0.8em;
  }

  .card__apply {
    font-size: 0.6em;
    margin-bottom: 2.5rem;
  }

}

.gradient-title {
  background: linear-gradient(to right top, #24b9c7, #00afea, #009eff, #517fff, #c241ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*ImageCard*/

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background: linear-gradient(to right top, #24b9c7, #00afea, #009eff, #517fff, #c241ec);
  border: 1px solid white;
  padding: 0.5rem;
  text-transform: initial;
}

.link-card {
  color: rgba(255, 255, 255);

}

.btn--block {
  display: block;
  width: 100%;
}

.cards-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  justify-content: center;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card-img {
  background-color: white;
  border: 1px solid #bfbfbf;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.card-img:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(to right top, #24b9c7, #00afea, #009eff, #517fff, #c241ec);
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title-img {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Gill Sans';
}

.card__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: rgb(255, 255, 255);
}

.second-title {
  display: flex;
  margin-top: 2.2rem;
  justify-content: center;
  font-family: 'Gill Sans';
}


/* Footer */


.footer {
  background: linear-gradient(to right, #2e0537, #1e4283, #0081c0, #00c1dd, #00ffda);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-phrase {
  margin: 0;
  font-size: 1.2em;
  font-style: italic;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
}



@media (max-width: 768px) {
  .footer-phrase {
    font-size: 1em;
  }

  .social-icon {
    font-size: 1.2em;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .footer-phrase {
    font-size: 0.8em;
  }

  .social-icon {
    font-size: 1em;
    margin: 0 3px;
  }
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}